<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/flights/new">ADD FLIGHT</a>
        <a href="/flights">ALL FLIGHTS</a>
    </nav>
    <main>
    <h1>Mongoose Flights</h1>
    <p>Welcome to the Mongoose Flight Database</p>
  </main>
  </body>
</html>
